<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading" class="row row-cols-1 row-cols-md-3 g-4">
  <div (click)="showArtist(songs)" class="col" *ngFor="let songs of items">
    <div class="card">
      <img [src]="songs.images | noimage" class="card-img-top" alt="songs.name">
      <div class="card-body songName">
        <h5 class="card-title text-dark">{{songs.name}}</h5>
        <hr class="bg-dark">
      </div>
      <div class="card-body artist">
        <h5 class="card-title">Artists</h5>
        <hr class="bg-dark">
        <p *ngFor="let artist of songs.artists" class=" btn btn-outline-secondary text-dark"> {{artist.name}}</p>
      </div>
    </div>
  </div>
</div>